@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

:root {
  --bg-color: #fff;
  --grey-bg: #fefefe;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='grey' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border: 2px solid grey !important;
}

.dark-theme {
  background: black;
  color: white;
}

.black-theme {
  background-color: black !important;
}

.dark-theme-grey-bg {
  background: #202020 !important;
}

.theme-img {
  width: 2.5%;
  background: none;
}

body {
  background: var(--bg-color);
}

.white-font {
  color: white !important;
}

.grey-background {
  background-color: var(--grey-bg);
}

.grey-text {
  color: #828282;
}

.blue-text {
  color: #6f77f1;
}

.grey-font {
  font-size: 13px;
  font-weight: 400;
}

/*nav*/
.nav-outline {
  outline: none !important;
}

.nav-item {
  border-bottom: 3px solid;
  border-color: transparent;
}
.nav-item:hover {
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, rgb(111, 119, 241), rgb(111, 119, 241) 70%, white 70%, white 80%, rgb(111, 119, 241) 80%, rgb(111, 119, 241));
     border-image: linear-gradient(to right, rgb(111, 119, 241), rgb(111, 119, 241) 70%, white 70%, white 80%, rgb(111, 119, 241) 80%, rgb(111, 119, 241));
  border-image-slice: 1;
  cursor: pointer;
}

.letstalk::-moz-placeholder {
  color: black;
}

.letstalk::placeholder {
  color: black;
}

/*hero*/
.hero-img {
  height: auto;
  width: 60vw;
}

.hero-team-heading {
  width: 200px;
}

.man-1 {
  margin-top: 4%;
}

.man-2,
.man-3,
.man-4,
.add {
  margin-left: -15%;
}

#diamonds {
  background-size: contain;
  background-repeat: no-repeat;
}

.team-icon:hover {
  border: 3px solid #6f77f1;
  cursor: pointer;
}

.team-shadow:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.5);
  cursor: pointer;
}

/*optimizing webstie*/
.website-text {
  width: 90% !important;
  text-align: center;
}

.web-list:hover {
  border-bottom: 4px solid #6f77f1;
}

.web-list-theme {
  background: none;
}

.one {
  background-image: url("images/optimizing-website/one.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.two {
  background-image: url("images/optimizing-website/two.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.three {
  background-image: url("images/optimizing-website/three.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.four {
  background-image: url("images/optimizing-website/four.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.card-text {
  font-size: 13px;
  font-weight: 400;
}

.card-group-v1 {
  box-shadow: 0px 17px 33px -14px rgba(2, 22, 5, 0.07);
}

.margin-class {
  margin-top: 150px !important;
}

/*solutions*/
.solution-img {
  height: 35vh;
  width: 70vw;
}

/*stats*/
.stats-item {
  cursor: pointer;
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.1);
}

/*client*/
.client-main::-webkit-scrollbar {
  display: none;
}

.client-card {
  background-image: url(images/clients/colen.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

/*reasons*/
.reason-item {
  border: 1px solid #828282 !important;
}
.reason-item:hover {
  box-shadow: 0px 34px 50px -17px rgba(2, 22, 5, 0.9);
  cursor: pointer;
}

/*what-seo*/
.what-seo-img {
  height: auto;
  width: 90%;
}

.seo-item:hover {
  box-shadow: 5px 25px 37px 0px rgba(2, 22, 5, 0.06);
  cursor: pointer;
}

/*web-speed*/
.web-speed-img {
  height: auto;
  width: 75vw;
}

.web-speed-input {
  outline: none !important;
}

/*plans*/
.plans-item {
  background-color: white;
}
.plans-item h5 {
  color: #6f77f1;
}
.plans-item .card-body {
  color: #828282;
}
.plans-item a {
  border: 1px solid #828282;
}
.plans-item:hover {
  cursor: pointer;
  background-image: url("images/plans/blue-bg.svg");
  height: auto;
  width: 18rem;
  background-position: center;
}
.plans-item:hover h5 {
  color: white !important;
}
.plans-item:hover .card-body {
  color: white;
}
.plans-item:hover .card-body a {
  border: 1px solid white;
  color: white;
}
.plans-item:hover .card-body a:hover {
  background-color: #fad725;
  border: 0px solid black;
  color: black;
}

/*team*/
.team-img {
  height: auto;
  width: 34%;
  margin-left: auto;
  margin-right: auto;
}

/*bottom*/
.bottom-btn {
  background-color: #6f77f1 !important;
}

.bottom-input {
  outline: none;
}

@media (min-width: 768px) {
  .reasons-item {
    width: 55%;
  }
  .hero-img {
    height: auto;
    width: 34vw;
  }
  .hero-details {
    font-size: 16.5px !important;
  }
  .web-speed-img {
    height: auto;
    width: 35vw;
  }
  .solution-text {
    width: 75%;
  }
}
@media (min-width: 997px) {
  .hero-heading {
    font-size: 2.8rem;
    width: 76%;
  }
  .website-text {
    width: 50% !important;
    text-align: start;
  }
  .what-seo-img {
    height: auto;
    width: 50%;
  }
  .what-seo-text {
    height: auto;
    width: 40%;
    margin: 0%;
  }
  .what-seo-text {
    margin: 10%;
  }
  .team {
    width: 70% !important;
  }
  .form-inputs {
    width: 70% !important;
  }
}
@media (min-width: 1400px) {
  .team {
    width: 100% !important;
  }
  .hero-team {
    width: 220px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 3.17px 52.298px 0px rgba(0, 0, 0, 0.1);
    bottom: 15%;
    right: 75%;
  }
}/*# sourceMappingURL=style.css.map */